aiohttp>=3.8.5
beautifulsoup4>=4.12.2
finnhub-python>=2.4.18
google-api-python-client>=2.108.0
html5lib>=1.1
lxml>=4.9.3
newsapi-python>=0.2.7
pandas>=2.1.1
python-dateutil>=2.8.2
requests>=2.31.0
serpapi>=0.1.5
streamlit>=1.30.0
textblob>=0.17.1
yfinance>=0.2.31
